* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: black;
}

/*mobile*/

@media (min-width: 320px) and (max-width: 767px) {
  .app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 100vw;
    min-height: 100vh;
  }

  .navbar-container{
    padding-bottom: 10px;
    /* border-bottom: 0.5px solid white; */
  }

  .navbar-firstrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  .logo-icon{
    margin-top: 10px;
    height: 45px;
    width: 58px;
  }

  .search{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input{
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    width: 45vw;
    outline: none;
    border: none;
  }

  .modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    background-color: rgba(74, 74, 74, 0.5);
    border-radius: 5px;
    padding: 2rem;
    width: 80%;
    border: solid 2px white;
  }

  .modal-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    margin: 8px 0;
  }

  .modal-footer{
    display: flex;
    justify-content: center;
  }

  .modal-cancel{
    border: white solid 1px;
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
  }

  .row-title{
    color: white;
    padding-left: 1.5rem;
  }

  .poster{
    height: 120px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #666;
  }

  swiper-container{
    width: 100vw;
    height: 130px;
    margin-bottom: 10px;
  }
  
  p{
    color: white;
  }

  .menu-logo{
    font-size: 2rem;
    background: none;
  }
  
  .icon{
    color: white;
    height: 2rem;
    margin: 8px;
  }
  
  .nav-menu-items{
    list-style: none;
    color: white;
  }
  
  .cross-icon{
   left: 900px;
  }
  
  .nav-menu{
    background-color: rgba(0, 0, 0, 0.5);
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active{
    top: 0;
    transition: 350ms;
  }
  
  .navbar-item{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    height: 4rem;
  }
  
  .navbar-item a{
    color: white;
    text-decoration: none;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
  .navbar-item a:hover{
    background-color: #c5c4c463;
  }
  
  .nav-menu-items{
    width: 100%;
  }
  
  .navbar-toggle{
    background-color: inherit;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span{
    margin-left: 1rem;
  }
  
  .nav-icon{
    height: 1.25rem;
    width: 1.25rem;
  }
}
/* 
//tablet
@media (min-width: 768px) and (max-width:1023px) {
  
}

//computer
@media (min-width: 1024px) {
  
} */
